
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Assessment 3</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
</head>
<body style="text-align: center; margin: 2rem;">
    <h1>Wacky Widgets</h1>
    {% if widgets|length == 0 %}
        <h3>No Widgets Exist</h3>
    {% else %}
        <table style="margin: 2rem auto;">
            <thead >
                <tr>
                    <th style="padding: 5px"> Description </th>
                    <th style="padding: 5px"> Quantity </th>
                    <th style="padding: 5px"> Delete </th>
                </tr>
            </thead>
            {% for widget in widgets %}
            <tr>
                <td style="padding: 5px">{{ widget.description }}</td>
                <td style="padding: 5px">{{ widget.quantity }}</td>
                <td style="padding: 5px"><a style="color: red; text-decoration: none;" href="{% url 'delete_widget' widget.id %}"> X </a></td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}
    <hr>
    <!-- add a form for adding new widgets... -->
    <h4>Add Widget</h4>
    <form class="pure-form" action="{% url 'add_widget' %}" method="post" style="display: inline-block; width: 300px; text-align: right;">
        {% csrf_token %}
        {{ add_widget_form.as_p }}
        <input type="submit" class="pure-button" value="ADD WIDGET" >
    </form>

</body>
</html>



